.articlesSection {
	width: 100%;
	background-color: var(--backdrop-color);
	align-content: center;
}

.container {
	width: 100%;
	max-width: fit-content;
	margin: auto;
}

.titleContainer {
	text-align: center;
	margin-bottom: 5%;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	padding: 0px;
	margin: 0px auto;
}

.card {
	width: 100%;
	max-width: 282px;
	height: auto;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
	padding-bottom: 40px;
}

.card:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.img {
	width: 100%;
	height: 188px;
	object-fit: cover;
}

.content {
	width: 100%;
	max-width: 213px;
	margin: 40px auto 0 auto;
	text-align: center;
}

.content > hr {
	width: 64px;
}

@media only screen and (max-width: 768px) {
	.articlesSection {
		padding-top: 81px;
	}

	.list {
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin-top: 40px;
	}

	.content {
		width: 90%;
	}
}

@media only screen and(max-width: 480px) {
	.articlesSection {
		padding: 10px 0px 30px;
	}

	.titleContainer {
		width: 100%;
		margin-top: 30px;
	}

	.content {
		width: 75%;
		max-width: none;
	}
}
