.hero {
	background-image: linear-gradient(
			rgba(27, 105, 121, 0.329),
			rgba(80, 80, 177, 0.219)
		),
		url("https://images.unsplash.com/photo-1614358108424-04d03647e343?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	align-content: center;
}

.hero div {
	margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
	.hero {
		background-image: linear-gradient(
				rgba(27, 105, 121, 0.329),
				rgba(80, 80, 177, 0.219)
			),
			url("https://images.unsplash.com/photo-1528429313106-e55e29042457?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
		background-size: stretch;
		background-position: center;
		align-content: baseline;
	}
	.hero h1 {
		font-size: 80px;
	}

	.hero h2 {
		font-size: 28px;
	}

	.hero div {
		margin: auto;
		margin-top: 10%;
		width: fit-content;
	}
}

@media only screen and (max-width: 480px) {
	.hero {
		background-image: linear-gradient(
				rgba(27, 105, 121, 0.329),
				rgba(80, 80, 177, 0.219)
			),
			url("https://images.unsplash.com/photo-1528429313106-e55e29042457?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
		background-size: stretch;
		background-position: top;
		align-content: baseline;
	}

	.hero h1 {
		font-size: 50px;
	}

	.hero h2 {
		font-size: 24px;
	}

	.hero div {
		margin: auto;
		margin-top: 30%;
		width: fit-content;
	}
}
