.aboutSection {
	display: flex;
	width: 100%;
}

.aboutSection > article {
	width: 50%;
}

/* the image will be replaced with a swiper */
.swiperContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.aboutContent {
	align-content: center;
}

.aboutContent p {
	width: 80%;
	margin: auto;
	padding: 15px;
	margin-top: 10%;
	line-break: balance;
}

@media only screen and (max-width: 768px) {
	.aboutSection {
		display: flex;
		flex-direction: column;
		gap: 50px;
		padding-bottom: 20px;
		padding-top: 81px;
	}

	.aboutSection > article {
		width: 100%;
		margin: auto;
	}

	.aboutContent p {
		margin-top: 8%;
		width: 100%;
		padding: 20px;
	}
}

@media only screen and (max-width: 480px) {
	.aboutContent h2 {
		font-size: 1.5rem;
	}

	.aboutContent p {
		font-size: 0.9rem;
		padding: 0px 10px;
	}
}
