/* Main Navbar styles*/
.mainHeader {
	display: flex;
	align-items: center;
	border: 1px solid red;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: transparent;
	transition: background-color 0.3s ease;
	padding: 15px 50px;
}

.mainHeader div {
	flex: 1;
}

.logo {
	color: var(--backdrop-color);
}

.headerNavbarContainer {
	display: flex;
	justify-content: center;
}

.headerNavLinks {
	display: flex;
	gap: 50px;
}

/* Main Navbar styles*/

.btn {
	border: 1px solid var(--primary-color);
	background-color: transparent;
	width: 200px;

	padding: 10px 0px;
	text-align: center;

	transition: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.primaryBtn {
	border-width: 2px;
}

/* Footer styles*/
.footer {
	background-color: white;
	height: 80px;
	text-align: center;
	align-content: center;
}

/* Collapsed Menu Styles */

.collapsedContainer {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	padding: 10px 0px 25px 0px;
	background-color: azure;
}

.openMenu {
	font-size: 32px;
	cursor: pointer;
	color: var(--primary-color);
}

.closeMenu {
	margin-left: auto;
	margin-right: 10px;
	font-size: 36px;
	cursor: pointer;
	color: rgb(211, 51, 51);
	border: 1px solid red;
	border-radius: 25px;
}

.collapsedNavLinks {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.collapsedNav {
	display: none;
}

@media only screen and (max-width: 768px) {
	.headerNavbarContainer,
	.headerButton {
		display: none;
	}
	.collapsedNav {
		display: flex;
	}

	.navbarContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px;
	}
}
