@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--primary-color: #000000;
	--secondary-color: #cbdeec;
	--backdrop-color: #f8f8f8;

	--paragraph-fsize: 16px;
	--links-fsize: 24px;
	--section-header: 32px;
	--hero-header: 112px;
}

* {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	scroll-behavior: smooth;
}

section {
	min-height: 100lvh;
}

h1 {
	font-size: var(--hero-header);
	text-align: center;
}

h2 {
	font-size: var(--section-header);
	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: var(--paragraph-fsize);
}

a {
	color: var(--primary-color);
	text-decoration: none;
	font-size: var(--links-fsize);
}

li {
	list-style-type: none;
}

hr {
	width: 80px;
	height: 3px;
	background-color: var(--primary-color);
	margin: 18px auto;
	border: 1px solid var(--primary-color);
}
